body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

section{
    margin-bottom: 100px;
}

h1{
    font-size: 50px;
}
p{
    font-size: 20px;
}
.section-container{
    display: flex;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 80%;
}
.span-color{
    color: gold;
}
.button-text{
    text-decoration: none;
    color:white;
    font-weight: 700;
    background-color: gold;
    padding: 15px 30px;
    border-radius: 30px;
    background-image: linear-gradient(gold, rgb(255, 0, 34) );

}

.about-background{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}
#about-image{
    width: 50%;
}
#about-padding{
    padding:100px 100px 0px 170px;
}

.button-margin{
    margin-bottom: 60px;
}

#header-padding{
    padding:50px 0px 0px 80px;
}
#header-left{
    padding-top:100px;
}

.recipie-title{
    text-align: center;
   margin: auto;
   width: 50%;
   padding-bottom: 30px;
}
.recipie-content img{
    width: 50%;
}
.recipie-content{
   border: 10px solid white;
   border-radius: 20px;
   box-shadow: 0px 0px 10px gray;
   margin:0px 15px
}

.recipie-img img{
    border-radius: 20px;
    width: 350px;
    height: 300px;

}

#recipie-padding{
    padding:0px 60px 0px 60px;
}
.recipie-text{
    width: 100%;
}

.counter-section{
   border-radius: 20px;
   box-shadow: 5px 5px 20px gray;
   text-align: center;
   margin:0px 75px;
}

.footer{
    text-align: center;
    color:white;
    background-color:#0B0D17;
    height: 100px;
    padding: 20px 0px;
}

.menu-bar{
    background-color:#faf7f7;
    height: 3.5rem;
}

.menu-bar ul{
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin:0;
}

.menu-bar ul li {
    list-style-type:none;
    padding: 0 1rem;
}
.menu-bar ul li a{
    text-decoration: none;
    font-size: 30px;
    color: rgb(182, 156, 7);
}
